
<p class="noselect cardCollapse-button" augmented-ui="tl-clip tr-clip exe">@Text</p>

@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public ModuleData Data { get; set; }
}
