@inherits LayoutComponentBase

    <div id="main" class="main">

        <div class="fixed-top custom-topBar">
            <NameAndTitle />
            <NavMenu />
        </div>

        <div class="px-4 custom-body">
            @Body
        </div>

    </div>