
    <div class="pt-1">
        <div class="navbar-brand pl-4 ">
            <h1 class="code-bold noselect unshrunk-lg" data-text="Pietr Langevoort">Pietr Langevoort</h1>
            <h3 class="code-bold noselect unshrunk-md" data-text=".Net Cloud Engineer">.Net Cloud Engineer</h3>
            <h4 class="code-bold noselect unshrunk-sm" data-text="& Software Generalist">&amp; Software Generalist</h4>
        </div>
    </div>

@code {

}
