
@if (Data != null && string.IsNullOrWhiteSpace(Data.src) == false)
{
    <div class="videoWrapper">
        <iframe class="video" src="@Data.src" frameborder="0" allow="encrypted-media; accelerometer; gyroscope; picture-in-picture"></iframe>
    </div>
    
}

@code {
    [Parameter]
    public ModuleData? Data { get; set; }
}
